workflow-examples/1-simple-campaign.json
{
  "name": "1. Simple Twitter Campaign",
  "nodes": [
    {
      "parameters": {},
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "campaignName",
              "value": "Test Campaign"
            },
            {
              "name": "targetAccount",
              "value": "ProductHunt"
            }
          ],
          "number": [
            {
              "name": "dailyBudget",
              "value": 50
            }
          ]
        }
      },
      "id": "config",
      "name": "Campaign Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "campaign",
        "operation": "create",
        "name": "={{$json.campaignName}}",
        "fundingInstrumentId": "YOUR_FUNDING_ID",
        "dailyBudget": "={{$json.dailyBudget}}",
        "startTime": "={{$now.plus({hours: 1}).toISO()}}"
      },
      "id": "create",
      "name": "Create Campaign",
      "type": "twitterAds",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Campaign Config", "type": "main", "index": 0}]]
    },
    "Campaign Config": {
      "main": [[{"node": "Create Campaign", "type": "main", "index": 0}]]
    }
  }
}