workflow-examples/2-follower-targeting.json
{
  "name": "2. Campaign with Follower Targeting",
  "nodes": [
    {
      "parameters": {},
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "campaign",
        "operation": "create",
        "name": "Follower Targeting Campaign",
        "fundingInstrumentId": "YOUR_FUNDING_ID",
        "dailyBudget": 100,
        "startTime": "={{$now.plus({hours: 1}).toISO()}}"
      },
      "id": "campaign",
      "name": "Create Campaign",
      "type": "twitterAds",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "lineItem",
        "operation": "create",
        "campaignId": "={{$json.data.id}}",
        "lineItemName": "Targeting ProductHunt Followers",
        "objective": "WEBSITE_CLICKS"
      },
      "id": "lineitem",
      "name": "Create Line Item",
      "type": "twitterAds",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "targeting",
        "operation": "addFollowers",
        "lineItemId": "={{$json.data.id}}",
        "targetAccounts": "ProductHunt,ycombinator"
      },
      "id": "targeting",
      "name": "Add Follower Targeting",
      "type": "twitterAds",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Create Campaign", "type": "main", "index": 0}]]
    },
    "Create Campaign": {
      "main": [[{"node": "Create Line Item", "type": "main", "index": 0}]]
    },
    "Create Line Item": {
      "main": [[{"node": "Add Follower Targeting", "type": "main", "index": 0}]]
    }
  }
}